body {
	background: #444;/* Footer Background */
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	color: #dddddd;/* Font Color */
}

.wrapper {
	width: 80%;
	max-width: 880px;
	min-width: 720px;
	margin: 0 auto;
}

#banner {/* Top Section */
	background: #3c3c3c;
	height: 360px;
}

#banner .appdesc {
	/* text-align: center; */
	clear:both;
}

#banner .buttonlinks {
	float: left;
	width: 320px;
}

#banner h2 {/* App Title */
	font-size: 2.6em;
	font-weight: 300;
	color: #cccccc;
	padding-top: 30px;
}

#banner p {
	font-size: 1.6em;
	font-weight: 300;
}

#banner a.downloadplay {/* Android Button */
	display: block;
	width: 160px;
	background: #44aa44 url(../images/icn-android.png) no-repeat center left;
	background-position: 20px 16px;
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	padding: 5px 10px 15px 80px;
	line-height: 1;
	margin: 30px 0 0 0;
}

#banner a.downloadplay:hover {
	background-color: #55cc55;
}

#banner a.downloadplay:active {
	background-color: #222222;
}

#banner a.downloadplay span {
	font-size: 0.7em;
}

#banner a.download {/* Apple Button */
	display: block;
	width: 160px;
	background: #44aa44 url(../images/icn-apple.png) no-repeat center left;
	background-position: 20px 16px;
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	padding: 5px 10px 15px 80px;
	line-height: 1;
	margin: 30px 0 0 0;
}

#banner a.download:hover {
	background-color: #55cc55;
}

#banner a.download:active {
	background-color: #222222;
}

#banner a.download span {
	font-size: 0.7em;
}

#banner .video {
	float: right;
	margin: 10px 0;
	/* -webkit-box-shadow: 0 10 10px rgba(0,0,0,.4);
	-moz-box-shadow: 0 10 10px rgba(0,0,0,.4); 
	box-shadow: 0px 0px 20px rgba(0,0,0,.8); */
	
}

#feature-section {
	min-height: 520px;
}

#feature-section h3 {/* Section 2 Title */
	color: #44ff44;
	font-weight: 300;
	font-size: 1.8em;
	padding: 50px 0 10px 0;
}

#feature-section p{
	margin-bottom: 20px;
	font-size: 1.1em;
	line-height: 1.5;
}

#feature-section .description {
	float: right;
	width: 320px;
	/* font-size: 80%; */
}

	
#feature-section .screenshot {
	float: left;
	width: 400px;
	position: relative;
	height: 500px;
	margin: 10px 0;
	overflow: hidden;
}

.feature-left {/* Section 2 background */
	background: #888;
}

footer .copyright {
	display: block;
	text-align: center;
	margin-bottom: 40px;
}

footer .copyright strong {/* website link */
	color: #44cc44;
}